/*********************************Sidebar****************************************************/
.side-item:hover{
    background-color: black;
    color: white;

}
.side-item:active{
   
    background-color: black;
    color: white;
}
.active{
    background-color:#000000 ;
    color: white;
    
}


